{% extends 'base.html' %}
{% block title %}YDownloader{% endblock %}
{% block content %}
<div class="vote">
  <h2 class="welcome">Welcome to YDownloader</h2>
  <h3 class="expend-letter">Here, you can  Download any videos from youtube. so why waiting ?, use it don't need to thinking</h3>
  <p class="short-desc">Discover boundless video downloading possibilities with SSYouTube, addressing the limitations of YouTube's native platform. Lacking a built-in download feature? Worry not - we offer a quick, secure, and user-friendly solution just for you!</p>
  <div class="text-center" style="padding-top: 10px;">
    
    <button class="btn btn-success custom-btn"><a href="login" style="color: #fff; text-decoration: none;">Let's Start</a></button>
  </div>
</div>
<div class="container">
  <h2 class="about">About of YDownloader</h2>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/images/img-2.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="margin-top: 15px;">Description</h5>
          <p class="card-text">YouTube Downloader is a simple to use video downloader. The app lets you download videos only from YouTube videos. But it does a very good job of downloading the videos. You can safely and quickly download YouTube videos or extract audio from the video by pasting a link in the search box.</p>
          <h5 class="card-title" style="margin-top: 30px;">Working steps</h5>
          <p class="card-text">1. Enter a valid link from youtube.<br>2. Select the resulation and download it.<br>3. Go to your c:\\Downloads of your device to see your doenloaded videos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
      
